* {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  text-align: center;
  margin: 5px;
}

#actor {
  text-align: center;
}

#loginMessage {
  color: red;
  text-align: center;
}

.github-fork-ribbon:before { background-color: #c00; }

#passwordNotice {
  font-size: 80%;
  text-align: center;
  padding-bottom: 10px;
}

#credits {
  font-size: 80%;
  text-align: center;
}
